@forward '../../../blocks/hero/assets/style.scss';
@forward '../../../blocks/slider/assets/style.scss';
@forward '../../../blocks/marquee/assets/style.scss';
@forward '../../../blocks/block-resources/assets/style.scss';
@forward '../../../blocks/testimonial/assets/style.scss';
@forward '../../../blocks/CTAs/assets/style.scss';