 .site-footer {
 	@apply fixed bottom-0 left-0 right-0 w-screen max-w-none z-0 bg-se-dark-navy pt-[120px] pl-[87px] pr-[120px] pb-[32px] flex flex-col justify-center items-center gap-[120px];
 
 	.footer-content {
 		@apply w-full max-w-[1266px] flex flex-row items-start gap-[131px];
 	}
 
 	.footer-logo {
 		@apply w-[305.7px] h-[63px];
 	}
 
 	.footer-columns {
 		@apply flex flex-row gap-[39px];
 	}
 
 	.footer-column {
 		@apply flex flex-col w-[176px] gap-[48px];
 	}
 
 	.footer-column--cta {
 		@apply gap-[92px];
 	}
 
 	.footer-column-title {
 		@apply text-[16px] font-[500] leading-[24px];
 	}
 
 	.footer-column-items {
 		@apply flex flex-col gap-[8px];
 	}
 
 	.footer-link {
 		@apply text-[14px] font-[400] leading-[20px];
 	}
 
 	.footer-bottom {
 		@apply w-full max-w-[1266px] flex flex-row items-center gap-[53px];
 	}
 
 	.footer-bottom-left {
 		@apply flex flex-row gap-[16px];
 	}
 
 	.footer-bottom-right {
 		@apply flex flex-row gap-[16px];
 	}
 
 	.footer-bottom-text {
 		@apply text-[12px] font-[400] leading-[24px];
 	}
 
 	.footer-bottom-link {
 		@apply text-[12px] font-[400] leading-[24px];
 	}
 
 	.get-started-button {
 		@apply relative overflow-hidden w-[158px] h-[48px] rounded-[4px] flex flex-row gap-[16px] justify-end items-center px-[24px] py-[14px] pr-[4px] bg-se-yellow;
 
 		.text-container {
 			@apply relative h-[48px] overflow-hidden flex items-center;
 
 			span {
 				@apply block text-[14px] font-[500] text-se-dark-navy transition-transform duration-300 ease-out;
 			}
 
 			.get-started-text-old {
 				@apply translate-y-0;
 			}
 
 			.get-started-text-new {
 				@apply absolute left-0 top-[48px];
 			}
 		}
 
 		.icon-container {
 			@apply relative overflow-hidden w-[40px] h-[40px] bg-se-dark-navy rounded-[4px] flex justify-center items-center;
 
 			.arrow-container {
 				@apply relative w-[20px] h-[20px] flex justify-center items-center;
 			}
 
 			img {
 				@apply w-[11.25px] h-[11.25px] transition-transform duration-300 ease-out;
 			}
 
 			.arrow-old {
 				@apply translate-x-0 translate-y-0;
 			}
 
 			.arrow-new {
 				@apply absolute -translate-x-[32px] translate-y-[9.8px];
 			}
 		}
 
 		&:hover {
 			.text-container {
 				.get-started-text-old {
 					@apply -translate-y-[48px];
 				}
 
 				.get-started-text-new {
 					@apply -translate-y-[34px];
 				}
 			}
 
 			.icon-container {
 				.arrow-old {
 					@apply translate-x-[32px] -translate-y-[9.8px];
 				}
 
 				.arrow-new {
 					@apply translate-x-0 translate-y-0;
 				}
 			}
 		}
 	}
 }
