 .site-footer {
 	@apply lg:fixed lg:bottom-0 lg:left-0 lg:right-0 lg:w-screen lg:max-w-none z-0 bg-se-dark-navy py-[48px] px-[24px] lg:pt-[120px] lg:pl-[87px] lg:pr-[120px] lg:pb-[32px] flex flex-col justify-start lg:justify-center items-center gap-[44px] lg:gap-[120px];
 
 	.footer-content {
 		@apply w-full max-w-[414px] lg:max-w-[1266px] flex flex-col max-lg:justify-start lg:flex-row items-start gap-[44px] lg:justify-between;
 	}
 
 	.footer-logo {
 		@apply w-[215.89px] h-[34.57px] lg:w-[305.7px] lg:h-[63px] max-lg:-ml-[27px];
 	}
 
 	.footer-columns {
 		@apply flex flex-col gap-[24px] lg:flex-row lg:gap-[39px];
 	}
 
 	.footer-column {
 		@apply flex flex-col gap-[24px] lg:w-[176px] lg:gap-[48px];
 	}

	.footer-items{
		@apply flex flex-col gap-[16px];
	}
 
 	.footer-column--cta {
 		@apply gap-[24px] lg:gap-[92px];
 	}
 
 	.footer-column-title {
 		@apply text-[16px] font-[500] leading-[24px];
 	}
 
 	.footer-column-items {
 		@apply flex flex-col gap-[8px];
 	}
 
 	.footer-link {
 		@apply text-[14px] font-[400] leading-[20px];
 	}
 
 	.footer-bottom {
		@apply w-full max-w-[1266px] flex flex-col gap-[8px] max-lg:flex-col-reverse lg:flex-row lg:items-center lg:gap-[53px];
	}

	.footer-bottom-left {
		@apply flex flex-col gap-[8px] max-lg:flex-row max-lg:flex-wrap max-lg:gap-[8px] lg:flex-row lg:gap-[16px];

		.footer-bottom-text:nth-child(1) {
			@apply max-lg:basis-full max-lg:grow-0 max-lg:shrink-0;
		}

		.footer-bottom-text:nth-child(2),
		.footer-bottom-text:nth-child(3) {
			@apply max-lg:basis-auto max-lg:grow-0 max-lg:shrink-0;
		}
	}
 
 	.footer-bottom-right {
 		@apply flex flex-row gap-[16px];
 	}
 
 	.footer-bottom-text {
 		@apply text-[12px] font-[400] leading-[24px];
 	}
 
 	.footer-bottom-link {
 		@apply text-[12px] font-[400] leading-[24px];
 	}
 
 	.get-started-button {
 		@apply relative overflow-hidden w-[158px] h-[48px] rounded-[4px] hidden lg:flex flex-row gap-[16px] justify-end items-center px-[24px] py-[14px] pr-[4px] bg-se-yellow;
 
 		.text-container {
 			@apply relative h-[48px] overflow-hidden flex items-center;
 
 			span {
 				@apply block text-[14px] font-[500] text-se-dark-navy transition-transform duration-300 ease-out;
 			}
 
 			.get-started-text-old {
 				@apply translate-y-0;
 			}
 
 			.get-started-text-new {
 				@apply absolute left-0 top-[48px];
 			}
 		}
 
 		.icon-container {
 			@apply relative overflow-hidden w-[40px] h-[40px] bg-se-dark-navy rounded-[4px] flex justify-center items-center;
 
 			.arrow-container {
 				@apply relative w-[20px] h-[20px] flex justify-center items-center overflow-hidden;
 			}
 
 			.arrow-old,
 			.arrow-new {
 				@apply w-[20px] h-[20px] flex justify-center items-center transition-transform duration-300 ease-out;
 			}
 
 			.arrow-old img,
 			.arrow-new img {
 				@apply w-[11.25px] h-[11.25px];
 			}
 
 			.arrow-old {
 				@apply translate-x-0 translate-y-0;
 			}
 
 			.arrow-new {
 				@apply absolute -translate-x-[32px] translate-y-[9.8px];
 			}
 		}
 
 		&:hover {
 			.text-container {
 				.get-started-text-old {
 					@apply -translate-y-[48px];
 				}
 
 				.get-started-text-new {
 					@apply -translate-y-[34px];
 				}
 			}
 
 			.icon-container {
 				.arrow-old {
 					@apply translate-x-[32px] -translate-y-[9.8px];
 				}
 
 				.arrow-new {
 					@apply translate-x-0 translate-y-0;
 				}
 			}
 		}
 	}

	.get-started-button-mobile {
 		@apply relative overflow-hidden w-[158px] h-[48px] rounded-[4px] lg:hidden flex flex-row gap-[16px] justify-end items-center px-[24px] py-[14px] pr-[4px] bg-se-yellow;
 
 		.text-container {
 			@apply relative h-[48px] overflow-hidden flex items-center;
 
 			span {
 				@apply block text-[14px] font-[500] text-se-dark-navy transition-transform duration-300 ease-out;
 			}
 
 			.get-started-text-old {
 				@apply translate-y-0;
 			}
 
 			.get-started-text-new {
 				@apply absolute left-0 top-[48px];
 			}
 		}
 
 		.icon-container {
 			@apply relative overflow-hidden w-[40px] h-[40px] bg-se-dark-navy rounded-[4px] flex justify-center items-center;
 
 			.arrow-container {
 				@apply relative w-[20px] h-[20px] flex justify-center items-center overflow-hidden;
 			}
 
 			.arrow-old,
 			.arrow-new {
 				@apply w-[20px] h-[20px] flex justify-center items-center transition-transform duration-300 ease-out;
 			}
 
 			.arrow-old img,
 			.arrow-new img {
 				@apply w-[11.25px] h-[11.25px];
 			}
 
 			.arrow-old {
 				@apply translate-x-0 translate-y-0;
 			}
 
 			.arrow-new {
 				@apply absolute -translate-x-[32px] translate-y-[9.8px];
 			}
 		}
 
 		&:hover {
 			.text-container {
 				.get-started-text-old {
 					@apply -translate-y-[48px];
 				}
 
 				.get-started-text-new {
 					@apply -translate-y-[34px];
 				}
 			}
 
 			.icon-container {
 				.arrow-old {
 					@apply translate-x-[32px] -translate-y-[9.8px];
 				}
 
 				.arrow-new {
 					@apply translate-x-0 translate-y-0;
 				}
 			}
 		}
 	}
 }

